body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .custom-button {
    display: inline-block;
    background-color: #1a252f; /* Blue color */
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.custom-button:hover {
background-color: #8999bc; /* Darker blue on hover */
}

  .name {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    color: black;
    margin-left: 300px;
    margin-top: 30px;
  }
  
  .description {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color:black;
    margin-left: 50px;
    margin-top: 10px;
  }

  
button {
  padding: 10px 20px;
  background-color: #070708;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #290bc4;
}


.search {
  flex: 1;
  position: relative;
  margin-left: 1000px; 
  margin-top: 20px;
}

.search form {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search button {
  padding: 8px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.search button i {
  color: #4CAF50;
}

.search button:hover {
  background-color: rgba(76, 175, 80, 0.2);
}


  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-logo img {
    margin-right: 10px;
  }
  
  .trader-name {
    font-weight: bold;
    
  }

  
  
  .container {
    width: 500px;
    margin-left: 850px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top:-200px;
    position: absolute; /* To ensure that the container remains in the flow of the document */
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .btn {
    background-color: #222324; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 350px;
  }
  
  .btn:hover {
    background-color: #4986c7; 
  }
  

 
/* .shop-image img {
    max-width: 50%;
    height: auto;
    border-radius: 8px; /* Add rounded corners to the image */
 /*   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the image */
  /*  margin-bottom: 20px; /* Add space below the image */
/*}

.add-shop-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a2c3e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for button hover */
/*}

.add-shop-btn:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
/*} */

